<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Inserisci conducente - Transport Efficiency Manager</title>
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Inserisci conducente</h1>
		</div>
		<form th:action="@{/risorse/submit/conducente}" 
			method="post" style="max-width: 600px; margin: 0 auto;">
		<div class="m-3">
			<div class="form-group row">
				<label class="col-4 col-form-label">Nome: </label>
				<div class="col-8">
					<input type="text" th:field="${conducente.nome}" class="form-control" required />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Cognome: </label>
				<div class="col-8">
					<input type="text" th:field="${conducente.cognome}" class="form-control" 
							required minlength="6" maxlength="10"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Codice Fiscale: </label>
				<div class="col-8">
					<input type="text" th:field="${conducente.codiceFiscale}" class="form-control" 
							required minlength="2" maxlength="16" />
			</div>
			
			
			
			<div>
				<button type="submit" class="btn btn-primary">Inserisci conducente</button> 
			</div>
		</div>
		</form>
	</div>
</body>
</html>