<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Modifica conducente - Transport Efficiency Manager</title>
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<link rel="stylesheet" href="css/style2.css" th:href="@{/css/style2.css}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Modifica conducente</h1>
		</div>
		<form th:action="@{/risorse/update/conducente/{id}(id=${conducente.id})}" 
			method="post" style="max-width: 600px; margin: 0 auto;">
		  <div class="row">
                            
				<div>
					<input type="text" th:field="${conducente.nome}"  placeholder="Nome" required minlenght="2" maxlength="50" />
				</div>
				<div>
					<input type="text" th:field="${conducente.cognome}"   placeholder="Cognome" required minlength="2" maxlength="50"/>
				</div>
				
				<div>
					<input type="text" th:field="${conducente.codiceFiscale}" s required minlength="16" maxlength="16" placeholder="Codice Fiscale"/>
			</div>
			</div>
                            
			
			
			
			<div>
				<button type="submit" class="update2">Modifica conducente</button> 
			</div>
		
		</form>
	</div>
</body>
</html>