<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Transport Efficiency Manager</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <h1>Benvenuto su Transport Efficiency Manager</h1>
        <h3><a href="/users">Lista degli utenti</a></h3>
        <h3><a href="/register">Registrati</a></h3>
        <h3><a href="/login">Accedi</a></h3>
    </div>
     
</body>
</html>