<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">
<head>
    <meta charset="ISO-8859-1">
    <title>Transport Efficiency Manager</title>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
	<nav th:replace="/header :: header"><p>Prova</p></nav>
    <div class="container text-center">
        <h1>Benvenuto su Transport Efficiency Manager</h1>
        <h3><a href="/users">Lista degli utenti</a></h3>
        <h3><a href="/register">Registrati</a></h3>
        <h3><a href="/login">Accedi</a></h3>
    </div>
     
</body>
</html>