<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="style.css">
<head>
	<meta charset="ISO-8859-1">
	<title>Registrazione - Transport Efficiency Manager</title>
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
</head>
<body>
	<div class="container text-center">
		<div>
			<h1>Registrazione utente</h1>
		</div>
		<form th:action="@{/process_register}" 
			method="post" style="max-width: 600px; margin: 0 auto;">
		<div class="m-3">
			<div class="form-group row">
				<label class="col-4 col-form-label">E-mail: </label>
				<div class="col-8">
					<input type="email" th:field="${user.email}" class="form-control" required />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Password: </label>
				<div class="col-8">
					<input type="password" th:field="${user.password}" class="form-control" 
							required minlength="6" maxlength="10"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Username: </label>
				<div class="col-8">
					<input type="text" th:field="${user.username}" class="form-control" 
							required minlength="2" maxlength="20" />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Denominazione aziendale: </label>
				<div class="col-8">
					<input type="text" th:field="${dettaglioUtente.denominazione}" class="form-control" 
							required minlength="2" maxlength="20"/>
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Partita IVA: </label>
				<div class="col-8">
					<input type="text" th:field="${dettaglioUtente.partitaIVA}" class="form-control" 
							required minlength="2" maxlength="20" />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Numero di telefono: </label>
				<div class="col-8">
					<input type="text" th:field="${dettaglioUtente.telefono}" class="form-control" 
							required minlength="2" maxlength="20" />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Fax: </label>
				<div class="col-8">
					<input type="text" th:field="${dettaglioUtente.fax}" class="form-control" 
							required minlength="2" maxlength="20" />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Indirizzo: </label>
				<div class="col-8">
					<input type="text" th:field="${dettaglioUtente.indirizzo}" class="form-control" 
							required minlength="2" maxlength="20" />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Cap: </label>
				<div class="col-8">
					<input type="text" th:field="${dettaglioUtente.cap}" class="form-control" 
							required minlength="2" maxlength="20" />
				</div>
			</div>
			
			<div class="form-group row">
				<label class="col-4 col-form-label">Città: </label>
				<div class="col-8">
					<input type="text" th:field="${dettaglioUtente.citta}" class="form-control" 
							required minlength="2" maxlength="20" />
				</div>
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Conferma</button> 
			</div>
		</div>
		</form>
	</div>
</body>
</html>